<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of auto</title>
    <link rel="stylesheet" type="text/css" th:href="@{static/style.css}"/>
</head>
<body>
<h1 align="center">List of auto</h1>
<div align="center">
    <nobr>
        <a th:href="@{/auto/add}">Add auto</a>
    </nobr>
</div>
<div align="center">
    <table border="1">
        <tr>
           <!-- <th>Id</th> -->
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th>Color</th>
            <th>Price</th>
            <th>Motor type</th>
            <th>Volume</th>
            <th>Drive</th>
            <th>Transmission</th>
            <th>Body style</th>
        </tr>
        <tr th:each="auto: ${listAutoJoin}">
          <!--  <td><a th:href="@{/auto/{autoId}(autoId=${auto.id})}" th:utext="${auto.id}">...</a></td> -->
            <td><a th:href="@{/auto/{autoId}(autoId=${auto.id})}" th:utext="${auto.nameBrand}">...</a></td>
            <td><a th:href="@{/auto/{autoId}(autoId=${auto.id})}" th:utext="${auto.nameModel}">...</a></td>
            <td th:utext="${auto.year}"></td>
            <td th:utext="${auto.color}"></td>
            <td th:utext="${auto.price}"></td>
            <td th:utext="${auto.motorType}"></td>
            <td th:utext="${auto.volume}"></td>
            <td th:utext="${auto.driveType}"></td>
            <td th:utext="${auto.transmission}"></td>
            <td th:utext="${auto.bodyStyle}"></td>
            <td><a th:href="@{/auto/{autoId}/edit(autoId=${auto.id})}">Edit</a></td>
        </tr>
    </table>
</div>
<br/><br/>
<div align="center">
    <nobr>
        <span th:if="${hasPrev}"><a th:href="@{/auto?page={prev}(prev=${prev})}">Prev</a>&nbsp;&nbsp;&nbsp;</span>
        <span th:if="${hasNext}"><a th:href="@{/auto?page={next}(next=${next})}">Next</a></span>
    </nobr>
</div>
</body>
</html>