<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${add} ? 'Create a auto' : 'Edit a auto'"/>
    <link rel="stylesheet" type="text/css" th:href="@{static/style.css}"/>
</head>
<body>
<h1 th:text="${add} ? 'Create a auto:' : 'Edit a auto:'"/>
<a th:href="@{/auto}">Back to auto List</a>
<br/><br/>
<form th:action="${add} ? @{/auto/add} : @{/auto/{autoId}/edit(autoId=${auto.id})}"
      method="POST">
    <table border="0">
        <h3>Auto</h3>
        <tr th:if="${auto.id}">
            <td>ID</td>
            <td>:</td>
            <td th:utext="${auto.id}">...</td>
        </tr>
        <tr>
            <td>ID brand</td>
            <td>:</td>
            <td><input type="number" th:field="*{auto.idBrand}"/></td>
        </tr>
        <tr>
            <td>ID motor</td>
            <td>:</td>
            <td><input type="number" th:field="*{auto.idMotor}"/></td>
        </tr>
        <tr>
            <td>Color</td>
            <td>:</td>
            <td><input type="text" th:field="*{auto.color}"/></td>
        </tr>
        <tr>
            <td>Price</td>
            <td>:</td>
            <td><input type="number" th:field="*{auto.price}"/></td>
        </tr>
        <tr>
        <tr>
            <td>Drive type</td>
            <td>:</td>
            <td><select th:field="*{auto.drive}" id="driveType">
                <option th:each="driveType : ${T(ru.ncedu.model.Drive).values()}"
                        th:value="${driveType}"
                        th:text="${driveType}">
                </option>
            </select></td>
        </tr>
        <tr>
            <td>Transmission type</td>
            <td>:</td>
            <td><select th:field="*{auto.transmission}" id="transmissionType">
                <option th:each="transmissionType : ${T(ru.ncedu.model.Transmission).values()}"
                        th:value="${transmissionType}"
                        th:text="${transmissionType}">
                </option>
            </select></td>
        </tr>
        <tr>
            <td>Body style</td>
            <td>:</td>
            <td><select th:field="*{auto.body}" id="body">
                <option th:each="body : ${T(ru.ncedu.model.BodyStyle).values()}"
                        th:value="${body}"
                        th:text="${body}">
                </option>
            </select></td>
        </tr>
    </table>
    <input type="submit" th:value="${add} ? 'Create' : 'Update'"/>
</form>
<br/>
<!-- Check if errorMessage is not null and not empty -->
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />
</body>
</html>
